<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017605429774-rp4ov3kl3o1a0bfudjebem13c6ovrv7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017605429774-rp4ov3kl3o1a0bfudjebem13c6ovrv7m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1017605429774-o6g99s4o6q4jgf4v7h12e773gq5d12ol.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCK7sunNqV6dUfswngY1ALs5IaxbEawNAY</string>
	<key>GCM_SENDER_ID</key>
	<string>1017605429774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ebookApplication</string>
	<key>PROJECT_ID</key>
	<string>flutter-ebook-a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ebook-a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017605429774:ios:0345aa1137d7010770ba5f</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-ebook-a-default-rtdb.firebaseio.com</string>
</dict>
</plist>